body {
    background-color: white;
    background-image: url(eta.jpg);
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;


}

.container1 {
    text-align: center;
    padding: auto;

}

h1 {
    font-style: inherit;
    padding-top: 7%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 58px;
    color: whitesmoke;
}

.btX {
    cursor: pointer;
    border: 1px solid white;


    background-color: transparent;
    height: 50px;
    width: 150px;
    color: white;

}

.container2 {
    text-align: center;

    background-color: white;


}

h2 {
    font-style: inherit;
    padding-top: 7%;
    text-align: center;

    padding-left: 25%;
    padding-right: 25%;
    font-size: 32px;
    font-weight: 700;
    font-display: unset;

}

hr {
    border: none;
    border-top: 0.25px solid;
    /* or bottom */
    margin: 1em auto;
    width: 25%;
    padding-bottom: 5%;
}

.img1 {
    width: 25%;
    margin-left: 6.25%;

}

.card {
    width: 25%;
    margin-left: 6.25%;
}

.a1 {
    font-size: 17px;
}

.card1 {
    width: 25%;
    margin-left: 37.25%;

}

.hrt {
    display: inline;

}

.container3 {
    background-image: url(download.jpeg);
    padding: auto;
    text-align: center;
}

.h2_1 {
    font-style: inherit;
    padding-top: 7%;
    padding-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 35px;
    color: whitesmoke;
}

.btn2 {

    cursor: pointer;
    border: 1px solid rgb(62, 147, 147);
    text-align: center;
    font-size: medium;


    background-color: rgb(62, 147, 147);
    height: 50px;
    width: 150px;
    color: white;

}

.bcon {
    text-align: center;
    padding-top: 5%;
}

.container4 {
    background-color: rgb(72, 70, 70);
    font: 20px;
    color: white;


}

.a2 {
    color: white;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 5%;
}
.hrt ul{
    display: inline-block;
}
ul li{
    display:inline-table;

}
